@import url(footer.css);
@import url(cards.css);
.body{
  margin: 0;
}


/* BANNER */
.banner_central{
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  padding: 100px 0;
}

.banner_central h1 {
  margin: 0;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  align-items: center;
}

.banner_central p {
  font-size: 20px;
  color: white;
  align-items: center;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner_central h3{
  color: white;
  font-style: italic;
}


.sidebar {
    flex: 1;
    max-width: 300px;
}

.profile-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.tags {
    margin-bottom: 20px;
}

.tag {
    background: #fff6f0;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 8px;
    font-size: 14px;
}
